[submodule "jslab"]
	path = static/jslab
	url = git@github.com:booleangate/jslab.git
[submodule "model-generator"]
	path = static/model-generator
	url = git@github.com:booleangate/model-generator
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
